# VSCode extension

# Store launch config in repo but not settings
.vscode/settings.json
/.favorites.json

# Local state files & OS specifics
.DS_Store
node_modules/
package-lock.json
lerna-debug.log
dist/
pack/
.BUILD_COMPLETED
.local-npm/
.tools/
coverage/
.nyc_output
.nycrc
.LAST_BUILD
*.sw[a-z]
*~
.idea
junit.xml

__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# CDK Context & Staging files
cdk.context.json
.cdk.staging/
cdk.out/
*.tabl.json

# Yarn error log
yarn-error.log

# VSCode history plugin
.vscode/.history/

# Cloud9
.c9
.nzm-*

/.versionrc.json

#pyenv
.python-version

#Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/